<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <ul>
      <li><a href="/" active>Home</a></li>
      <li><a href="/create">Create User</a></li>
    </ul>
    <h2>HTML Table</h2>

    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
      </tr>
      <% users.forEach(function(user) { %>
      <tr>
        <td><%=user.id %></td>
        <td><%=user.email %></td>
        <td><%=user.name %></td>
        <td><%=user.city %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
